@import "../../variables.scss";

.enable {
  color: $white-color;
  background-color: $coral-color;
  border-radius: 5px;
  cursor: pointer;
}

.enable:hover {
  background-color: #ff9d9e;
  transition: 0.4s;
}

.disable {
  color: $white-color;
  background-color: $medium-grey-color;
  border-radius: 5px;
}

.button-type-1 {
  width: 360px;
  height: 50px;
}

.button-type-2 {
  width: 270px;
  height: 50px;
}

@media only screen and (max-width: $tablet-size) {
  .button-type-1 {
    width: 315px;
    height: 40px;
  }

  .button-type-2 {
    width: 250px;
    height: 50px;
  }
}

@media only screen and (max-width: $mobile-size) {
  .button-type-1 {
    width: 250px;
    height: 35px;
  }

  .button-type-2 {
    width: 200px;
    height: 50px;
  }
}
