@import "../../../../variables.scss";

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $white-color;
  margin: 0 auto;
  width: 90%;
  min-height: 93vh;
  flex-grow: 1;
  z-index: -2;
}

h1 {
  color: $blue-color;
  margin-top: 100px;
  font-weight: 500;
  text-align: center;
}

section {
  padding-top: 30px;
  width: 100%;
}

mat-paginator {
  margin-bottom: 10px;
  background-color: transparent;
}

.empty-list {
  color: $blue-color;
  margin-top: 100px;
  text-align: center;
}

.empty-list-icon {
  color: $medium-grey-color;
  @include mat-icon-size(100px);
  margin: auto 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
}

.card {
  display: flex;
  gap: 10px;
  padding: 15px;
  background-color: $light-grey-color;
  border-radius: 5px;
  width: 290px;
  height: 180px;
}

.card:last-child {
  margin-bottom: 30px;
}

img {
  align-self: center;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 100%;
}

.pet-name {
  color: $blue-color;
  font-size: 20px;
  margin-bottom: 5px;
}

.pet-info {
  color: $dark-grey-color;
  font-size: 14px;
}

.desc {
  font-size: 14px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}

.pet-region {
  color: $dark-grey-color;
  font-size: 12px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: underline;
  color: $dark-grey-color;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.1s;
}

a:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.chat-icon {
  color: $green-color;
  @include mat-icon-size(20px);
}

.contact-donor-container {
  cursor: pointer;
}

.contact-donor {
  color: $dark-grey-color;
  font-size: 12px;
}

.card-msg {
  color: $dark-grey-color;
  display: flex;
  align-items: center;
  gap: 5px;
}

.card-msg > span {
  font-size: 12px;
}

@media only screen and (max-width: $tablet-size) {
  .card-container {
    gap: 10px;
  }

  .card {
    width: 260px;
    height: 170px;
  }

  img {
    width: 115px;
    height: 115px;
  }

  .card-info {
    width: 135px;
  }

  .pet-name {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .pet-info {
    font-size: 12px;
  }

  .pet-region {
    font-size: 12px;
  }
}

@media only screen and (max-width: $mobile-size) {
  main {
    width: 100%;
  }

  .card {
    width: 100%;
    height: 150px;
  }

  img {
    width: 50%;
    height: 100%;
  }

  .card-info {
    width: 50%;
    height: 100%;
  }
}
