<app-header></app-header>
<main>
  <h1>Olá! Veja os amigos disponíveis para adoção!</h1>

  <section>
    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 25, 100]"
      [showFirstLastButtons]="true"
      [pageIndex]="currentPage"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>

    <ng-container *ngIf="length === 0; else petsCards">
      <div class="empty-list">
        <p>Nenhum pet encontrado para adoção :&lpar;</p>
        <mat-icon class="empty-list-icon" fontIcon="info"></mat-icon>
      </div>
    </ng-container>

    <ng-template #petsCards>
      <div class="card-container">
        <div class="card" *ngFor="let pet of pets">
          <img src="{{ pet.picture }}" alt="Pet picture" />

          <div class="card-info">
            <p class="pet-name" title="{{ pet.name }}">{{ pet.name }}</p>
            <p class="pet-info">{{ pet.age }} anos</p>
            <p class="pet-info">{{ pet.size }}</p>
            <p class="pet-info desc" title="{{ pet.description }}">{{ pet.description }}</p>

            <p class="pet-region">{{ pet.Donor?.city }} ({{ pet.Donor?.state }})</p>

            <a routerLink="/teste"
              ><mat-icon class="chat-icon" fontIcon="chat"></mat-icon>
              <span class="contact-donor">Falar com o responsável</span>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </section>
</main>
