<app-header></app-header>
<main>
  <p class="text">Preencha o formulário abixo para adicionar seu pet para adoção.</p>

  <form [formGroup]="addPetForm" (keyup.enter)="submitEdit()">
    <h1>Adicionar Pet</h1>

    <div class="input-label">
      <label for="">Foto</label>
      <div class="input-file-container">
        <label class="input-picture-box" for="picture">
          <ng-container *ngIf="!addPetForm.get('picture')?.value; else imageTemplate">
            <mat-icon class="picture-img" fontIcon="account_circle"></mat-icon>
          </ng-container>
          <ng-template #imageTemplate>
            <img
              class="picture-img"
              [src]="addPetForm.get('picture')?.value"
              [alt]="addPetForm.value.name"
            />
          </ng-template>
        </label>

        <input
          class="input-file"
          id="picture"
          name="picture"
          type="file"
          accept="image/jpeg, image/png"
          (change)="onFileSelected($event)"
        />
      </div>

      <ng-container *ngIf="addPetForm.get('picture')?.hasError('fileSizeExceeded')"
        ><span class="error-message" style="align-self: center">{{
          errorMessages.fileSizeExceeded
        }}</span>
      </ng-container>
      <ng-container *ngIf="addPetForm.get('picture')?.hasError('fileUnsupported')"
        ><span class="error-message" style="align-self: center">{{
          errorMessages.fileUnsupported
        }}</span>
      </ng-container>
      <ng-container *ngIf="addPetForm.get('picture')?.hasError('required') && formSubmitted">
        <span class="error-message" style="align-self: center">{{
          errorMessages.requiredInput
        }}</span>
      </ng-container>

      <p class="picture-text">Clique no ícone da acima para adicionar um foto do pet</p>
    </div>

    <div class="input-label">
      <label for="name">Nome do Pet</label>
      <input
        class="input-text"
        id="name"
        name="name"
        type="text"
        formControlName="name"
        placeholder="Digite seu nome"
        [maxlength]="inputValidations.maxLengthForm"
        [ngClass]="{
          'border-error': addPetForm.get('name')?.errors && formSubmitted
        }"
      />
      <ng-container
        *ngIf="
          (addPetForm.get('name')?.hasError('required') ||
            addPetForm.get('name')?.hasError('minlength')) &&
          formSubmitted
        "
      >
        <span class="error-message">{{ errorMessages.minlength }}</span>
      </ng-container>
      <ng-container *ngIf="addPetForm.get('name')?.hasError('validName') && formSubmitted">
        <span class="error-message">{{ errorMessages.validName }}</span>
      </ng-container>
    </div>

    <div class="input-label">
      <label for="age">Idade do pet (anos)</label>
      <input
        class="input-text"
        id="age"
        name="age"
        type="number"
        max="99"
        formControlName="age"
        placeholder="2 anos"
        [ngClass]="{
          'border-error': addPetForm.get('age')?.errors && formSubmitted
        }"
      />
      <ng-container
        *ngIf="
          (addPetForm.get('age')?.hasError('required') ||
            addPetForm.get('age')?.hasError('max') ||
            addPetForm.get('age')?.hasError('min') ||
            addPetForm.get('age')?.hasError('validAge')) &&
          formSubmitted
        "
        ><span class="error-message">{{ errorMessages.petAge }}</span>
      </ng-container>
    </div>

    <div class="input-label">
      <label for="size">Tamanho do pet</label>
      <select
        id="size"
        name="size"
        formControlName="size"
        [ngClass]="{
          'border-error': addPetForm.get('size')?.errors && formSubmitted
        }"
      >
        <option value="" disabled selected>Selecione o tamanho do pet</option>
        <option *ngFor="let petSize of petSizeValues" [value]="petSize">
          {{ petSize }}
        </option>
      </select>
      <ng-container *ngIf="addPetForm.get('size')?.hasError('required') && formSubmitted"
        ><span class="error-message">{{ errorMessages.select }}</span>
      </ng-container>
    </div>

    <div class="input-label">
      <label for="description">Descreva brevemente o pet</label>
      <input
        class="input-text"
        id="description"
        name="description"
        type="text"
        formControlName="description"
        placeholder="Carinhoso e simpático"
        [maxlength]="25"
        [ngClass]="{
          'border-error': addPetForm.get('description')?.errors && formSubmitted
        }"
      />
      <ng-container
        *ngIf="
          (addPetForm.get('description')?.hasError('required') ||
            addPetForm.get('description')?.hasError('minlength')) &&
          formSubmitted
        "
      >
        <span class="error-message">{{ errorMessages.minlength }}</span>
      </ng-container>
    </div>

    <app-button (click)="submitEdit()" [buttonConfig]="buttonRegister"></app-button>
    <app-button (click)="submitDelete()" [buttonConfig]="buttonDelete"></app-button>
  </form>
</main>
