<app-header></app-header>
<main>
  <form [formGroup]="messsageForm" (keyup.enter)="submit()">
    <h1>
      Envie uma mensagem para {{ petData.Donor?.firstName }}, responsável pelo {{ petData.name }}
    </h1>

    <img class="picture-img" [src]="petData.picture" alt="Pet picture" />

    <div class="input-label">
      <label for="subject">Assunto</label>
      <input
        class="input-text"
        id="subject"
        name="subject"
        type="text"
        formControlName="subject"
        placeholder="Escreva o assunto"
        maxlength="70"
        [ngClass]="{
          'border-error': messsageForm.get('subject')?.errors && formSubmitted
        }"
      />
      <ng-container
        *ngIf="
          (messsageForm.get('subject')?.hasError('required') ||
            messsageForm.get('subject')?.hasError('minlength')) &&
          formSubmitted
        "
      >
        <span class="error-message">{{ errorMessages.minlength }}</span>
      </ng-container>
    </div>

    <div class="input-label">
      <label for="contactMessage">Fale um pouco dos motivos de você querer adotar o(a) {{petData.name}}.</label>
      <textarea
        class="input-text text-area"
        id="contactMessage"
        name="contactMessage"
        formControlName="contactMessage"
        placeholder="Escreva a mensagem"
        [maxlength]="textAreaValidation"
        [ngClass]="{
          'border-error': messsageForm.get('contactMessage')?.errors && formSubmitted
        }"
      >
      </textarea>
      <ng-container
        *ngIf="
          (messsageForm.get('contactMessage')?.hasError('required') ||
            messsageForm.get('contactMessage')?.hasError('minlength')) &&
          formSubmitted
        "
      >
        <span class="error-message">Este campo precisa ter no mínimo 20 caracteres.</span>
      </ng-container>
    </div>

    <app-button (click)="submit()" [buttonConfig]="buttonRegister"></app-button>
  </form>
</main>
