@import "../../../../variables.scss";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white-color;
  margin: 0 auto;
  min-height: 93vh;
  width: 100%;
  flex-grow: 1;
  z-index: -2;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 600px;
  background-color: $light-grey-color;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 50px;
  margin-top: 12vh;
}

h1 {
  color: $dark-grey-color;
  align-self: center;
  font-size: 16px;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 30px;
}

label {
  color: $blue-color;
  width: 100%;
}

.input-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 120px;
}

.picture-img {
  @include mat-icon-size(120px);
  color: $medium-grey-color;
  align-self: center;
  border-radius: 50%;
  object-fit: cover;
  margin: 30px;
}

.input-text,
textarea {
  background-color: $white-color;
  width: 90%;
  height: 45px;
  padding: 5px 0px 5px 10px;
  border-radius: 5px;
  color: $dark-grey-color;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.text-area {
  resize: none;
  height: 90px;
}

select {
  width: 91.5%;
  height: 55px;
}

app-button {
  margin: 25px;
  align-self: center;
}

@media only screen and (max-width: $tablet-size) {
  form {
    width: 350px;
  }
}

@media only screen and (max-width: $mobile-size) {
  form {
    width: 250px;
  }
}
