<app-header></app-header>
<main>
  <h1>Abaixo estão listados os pets que você colocou para adoção</h1>

  <section>
    <div class="card-container">
      <div class="card" *ngFor="let pet of pets">
        <img src="{{ pet.picture }}" alt="" />

        <div class="card-info">
          <p class="pet-name">{{ pet.name }}</p>
          <p class="pet-info">{{ pet.age }} anos</p>
          <p class="pet-info">{{ pet.size }}</p>
          <p class="pet-info desc">{{ pet.description }}</p>

         

          <a routerLink="/teste"
            ><mat-icon class="chat-icon" fontIcon="edit"></mat-icon>
            <span class="edit-pet">Editar pet</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
