<app-header></app-header>
<main>
  <h1>Abaixo estão listados os pets que você colocou para adoção.</h1>

  <section>
    <div class="add-pet" routerLink="/donor/add-pet">
      Adicionar Pet
      <mat-icon fontIcon="add"></mat-icon>
    </div>

    <mat-paginator
      [length]="paginatorConfig.length"
      [pageSize]="paginatorConfig.pageSize"
      [pageSizeOptions]="[10, 25, 100]"
      [showFirstLastButtons]="true"
      [pageIndex]="paginatorConfig.pageIndex"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>

    <ng-container *ngIf="paginatorConfig.length === 0; else petsCards">
      <div class="empty-list">
        <p>Você ainda não tem pets para adoção...</p>
        <mat-icon class="empty-list-icon" fontIcon="info"></mat-icon>
      </div>
    </ng-container>

    <ng-template #petsCards>
      <div class="card-container">
        <div class="card" *ngFor="let pet of pets">
          <img src="{{ pet.picture }}" alt="Pet picture" />

          <div class="card-info">
            <p class="pet-name" title="{{ pet.name }}">{{ pet.name }}</p>
            <p class="pet-info">{{ pet.age }} anos</p>
            <p class="pet-info">{{ pet.size }}</p>
            <p class="pet-info desc" title="{{ pet.description }}">{{ pet.description }}</p>

            <ng-container *ngIf="pet.adopted === 0; else alreadyAdopted">
              <a class="card-msg" routerLink="/donor/edit-pet/{{ pet.id }}">
                <mat-icon fontIcon="edit"></mat-icon>
                <span>Editar pet</span>
              </a>
            </ng-container>

            <ng-template #alreadyAdopted>
              <div class="card-msg">
                <mat-icon fontIcon="check_circle"></mat-icon>
                <span>Pet já adotado</span>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-template>
  </section>
</main>
