@import "../../../variables.scss";

main {
  color: $white-color;
  min-height: 93vh;
  width: 100%;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  width: 85%;
  max-width: 1562.5px;
  height: 80%;
  background-color: $light-grey-color;
  padding: 30px 0;
  border-radius: 10px;
  color: $dark-grey-color;
  margin-top: 150px;
  margin-bottom: 50px;
}

table {
  table-layout: fixed;
  text-align: center;
  border-collapse: separate;
}

td {
  border-bottom: 1px solid $medium-grey-color;
  padding: 20px 0;
  vertical-align: middle;
}

.even {
  background-color: $column-even;
}

.odd {
  background-color: $column-odd;
}

.table-row:hover {
  background-color: $column-hover;
  cursor: pointer;
}

.td-input {
  border-bottom: none;
}

.test {
  text-align: center;
}

app-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

img {
  align-self: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.pet-column {
  width: 20%;
}

.name-column {
  width: 30%;
}

.date-column {
  width: 20%;
}

.status-column {
  width: 25%;
}

.show-column {
  width: 5%;
}

.show-column mat-icon {
  display: none;
}

.table-row:hover .show-column mat-icon {
  display: block;
}

.input,
select {
  width: 80%;
  height: 27px;
  background-color: $white-color;
  padding: 5px 0px 5px 10px;
  border-radius: 5px;
  color: $dark-grey-color;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

select {
  width: 80%;
  height: 37px;
}

.input-date {
  margin: 0 auto;
  width: 80%;
  background-color: $white-color;
  padding: 5px 5px 0px 5px;
  border-radius: 5px;
  color: $dark-grey-color;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

mat-paginator {
  width: 100%;
  margin-top: 30px;
  background-color: transparent;
}

.empty-list {
  color: $medium-grey-color;
  margin: 70px 0;
  text-align: center;
}

.empty-list-icon {
  color: $medium-grey-color;
  @include mat-icon-size(100px);
  margin: auto 0;
}

@media only screen and (max-width: $tablet-size) {
  .table-container {
    width: 100%;
  }
}

@media only screen and (max-width: $mobile-size) {
  img {
    width: 30px;
    height: 30px;
  }

  .field-container {
    gap: 5px;
  }
}
