<app-header></app-header>
<main>
  <div class="table-container">
    <table>
      <thead>
        <tr class="table-header">
          <th class="pet-column">Pet</th>
          <th class="name-column">Nome</th>
          <th class="date-column">Data</th>
          <th class="status-column">Status</th>
          <th class="show-column"></th>
        </tr>
        <tr class="input-header">
          <td class="input pet-column"><input type="text" /></td>
          <td class="input name-column"><input type="text" /></td>
          <td class="input date-column"><input type="text" /></td>
          <td class="input status-column"><input type="text" /></td>
          <td class="input show-column"></td>
        </tr>
      </thead>

      <ng-container *ngIf="messagesPreview?.length === 0; else messages">
        <div class="empty-list">
          <p>Você ainda não recebeu mensagem...</p>
          <mat-icon class="empty-list-icon" fontIcon="info"></mat-icon>
        </div>
      </ng-container>

      <ng-template #messages>
        <tbody
          *ngFor="let message of messagesPreview; let even = even; let odd = odd"
          [ngClass]="{ even: even, odd: odd }"
        >
          <tr class="table-row">
            <td class="pet-column">
              <div class="field-container">
                <img src="{{ message.Pet.picture }}" alt="Pet picture" />
                <p>{{ message.Pet.name }}</p>
              </div>
            </td>
            <td class="name-column">
              <p>{{ message.Adopter?.firstName }} {{ message.Adopter?.lastName }}</p>
            </td>
            <td class="date-column">
              <p>{{ message.date }}</p>
            </td>
            <td class="status-column">
              <div class="field-container">
                <p>{{ message.adoptionStatus }}</p>
                <mat-icon
                  [matTooltip]="infoDisplay(message.adoptionStatus) || ''"
                  fontIcon="help_outline"
                ></mat-icon>
              </div>
            </td>
            <td class="show-column"><mat-icon fontIcon="navigate_next"></mat-icon></td>
          </tr>
        </tbody>
      </ng-template>
    </table>

    <mat-paginator
      [length]="paginatorConfig.length"
      [pageSize]="paginatorConfig.pageSize"
      [pageSizeOptions]="[10, 25, 100]"
      [showFirstLastButtons]="true"
      [pageIndex]="paginatorConfig.pageIndex"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</main>
