<app-header></app-header>
<main>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="pet-column">Pet</th>
          <th class="name-column">Nome</th>
          <th class="date-column">Data</th>
          <th class="status-column">Status</th>
          <th class="show-column"></th>
        </tr>
        <tr [formGroup]="filterForm" (keyup.enter)="filter()">
          <td class="td-input pet-column">
            <input
              class="input"
              type="text"
              id="petName"
              name="petName"
              formControlName="petName"
              bindQueryParam="petName"
            />
          </td>
          <td class="td-input name-column">
            <input
              class="input"
              type="text"
              id="adopterDonorName"
              name="adopterDonorName"
              formControlName="adopterDonorName"
              bindQueryParam="adopterDonorName"
            />
          </td>
          <td class="td-input date-column">
            <select
              id="dateOrder"
              name="dateOrder"
              formControlName="dateOrder"
              bindQueryParam="dateOrder"
            >
              <option value="desc">Mais recentes</option>
              <option value="asc">Mais antigos</option>
            </select>
          </td>
          <td class="td-input status-column">
            <select
              id="adoptionStatus"
              name="adoptionStatus"
              formControlName="adoptionStatus"
              bindQueryParam="adoptionStatus"
            >
              <option value="" selected>Todos</option>
              <option *ngFor="let adoptionStatus of adoptionStatus" [value]="adoptionStatus">
                {{ adoptionStatus }}
              </option>
            </select>
          </td>
          <td class="td-input show-column"></td>
        </tr>
        <td colspan="5">
          <app-button (click)="filter()" [buttonConfig]="buttonFilter"></app-button>
        </td>
      </thead>

      <ng-container *ngIf="messagesPreview?.length === 0; else messages">
        <td colspan="5" class="empty-list">
          <p>Nenhuma mensagem encontrada...</p>
          <mat-icon class="empty-list-icon" fontIcon="info_outline"></mat-icon>
        </td>
      </ng-container>

      <ng-template #messages>
        <tbody
          *ngFor="let message of messagesPreview; let even = even; let odd = odd"
          [ngClass]="{ even: even, odd: odd }"
        >
          <tr class="table-row" routerLink="{{ routeMessageDetails }}{{ message.id }}">
            <td class="pet-column">
              <div class="field-container">
                <img src="{{ message.Pet.picture }}" alt="Pet picture" />
                <p>{{ message.Pet.name }}</p>
              </div>
            </td>
            <td class="name-column">
              <p>
                {{ message.Adopter?.firstName || message.Pet.Donor?.firstName }}
                {{ message.Adopter?.lastName || message.Pet.Donor?.lastName }}
              </p>
            </td>
            <td class="date-column">
              <p>{{ message.date | date : "dd/MM/yyyy" }}</p>
            </td>
            <td class="status-column">
              <div class="field-container">
                <p>{{ message.adoptionStatus }}</p>
              </div>
            </td>
            <td>
              <mat-icon
                [matTooltip]="infoDisplay(message.adoptionStatus) || ''"
                fontIcon="help_outline"
              ></mat-icon>
            </td>
            <td class="show-column"><mat-icon fontIcon="navigate_next"></mat-icon></td>
          </tr>
        </tbody>
      </ng-template>
    </table>

    <mat-paginator
      [length]="paginatorConfig.length"
      [pageSize]="paginatorConfig.pageSize"
      [pageSizeOptions]="[10, 25, 100]"
      [showFirstLastButtons]="true"
      [pageIndex]="paginatorConfig.pageIndex"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</main>
