@import "../../../variables.scss";

.nav-icon {
  @include mat-icon-size(28px);
  position: fixed;
  top: 25px;
  left: 180px;
  color: $white-color;
  z-index: 3;
  cursor: pointer;
}

.nav-icon:nth-child(2) {
  left: 230px;
}

.button-profile {
  @include mat-icon-size(70px);
  position: fixed;
  top: 25px;
  right: 10%;
  color: $green-color;
  z-index: 3;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

@media only screen and (max-width: $tablet-size) {
  .nav-icon {
    top: 20px;
    left: 130px;
  }

  .nav-icon:nth-child(2) {
    left: 170px;
  }

  .button-profile {
    top: 20px;
  }
}

@media only screen and (max-width: $mobile-size) {
  .nav-icon {
    @include mat-icon-size(35px);
    top: 20px;
    left: 50px;
  }

  .nav-icon:nth-child(2) {
    left: 120px;
  }

  .button-profile {
    @include mat-icon-size(55px);
    top: 10px;
    right: 5%;
  }
}
