$blue-color: #3772ff;
$green-color: #36d6ad;
$coral-color: #fc7071;
$beige-color: #fcf0e3;
$dark-grey-color: #737380;
$medium-grey-color: #bcbcbc;
$light-grey-color: #f6f6f6;
$white-color: #fff;

$column-odd:#ECECEE;
$column-even:#F2F2F3;
$column-hover:#BCBCBC;

$tablet-size: "768px";
$mobile-size: "415px";

@mixin mat-icon-size($size: 28px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}
