$blue-color: #3772ff;
$green-color: #36d6ad;
$coral-color: #fc7071;
$beige-color: #fcf0e3;
$dark-grey-color: #737380;
$medium-grey-color: #bcbcbc;
$light-grey-color: #f6f6f6;
$white-color: #fff;

$tablet-size: "768px";
$mobile-size: "415px";
