<app-header></app-header>
<main>
  <div class="table-container">
    <table>
      <thead>
        <tr class="table-header">
          <th class="pet-row">Pet</th>
          <th class="name-row">Nome</th>
          <th class="date-row">Data</th>
          <th class="status-row">Status</th>
          <th class="show-row"></th>
        </tr>
        <tr class="input-header">
          <td class="input pet-row"><input type="text" /></td>
          <td class="input name-row"><input type="text" /></td>
          <td class="input date-row"><input type="text" /></td>
          <td class="input status-row"><input type="text" /></td>
          <td class="input show-row"></td>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row">
          <td class="pet-row"><p>Miguel</p></td>
          <td class="name-row"><p>fulano da silva</p></td>
          <td class="date-row"><p>2023/05/04</p></td>
          <td class="status-row"><p>Não respondido</p></td>
          <td class="show-row"><mat-icon fontIcon="navigate_next"></mat-icon></td>
        </tr>
      </tbody>
    </table>

    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 25, 100]"
      [showFirstLastButtons]="true"
      [pageIndex]="currentPage"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</main>
