<app-header></app-header>
<main>
  <p class="title">
    Esta pessoa se interessou pelo seu pet, verifique seus dados cuidadosamente antes de decidir se
    você aceita ou não doar seu pet para ele(a).
  </p>
  <section>
    <div class="container-adopter-pet">
      <div class="container-adopter">
        <h2 class="adopter-title">Dados do adotante</h2>

        <ng-container *ngIf="!messageDetails.Adopter.picture; else imageTemplate">
          <mat-icon class="picture-img" fontIcon="account_circle"></mat-icon>
        </ng-container>
        <ng-template #imageTemplate>
          <img class="picture-img" [src]="messageDetails.Adopter.picture" alt="Picture selected" />
        </ng-template>

        <div class="container-field">
          <span class="label">Nome</span>
          <span
            class="field"
            title="{{ messageDetails.Adopter.firstName }} {{ messageDetails.Adopter.lastName }}"
            >{{ messageDetails.Adopter.firstName }} {{ messageDetails.Adopter.lastName }}</span
          >
        </div>

        <div class="container-field">
          <span class="label">Estado e Cidade</span>
          <span class="field"
            >{{ messageDetails.Adopter.state }} - {{ messageDetails.Adopter.city }}</span
          >
        </div>

        <div class="container-field">
          <span class="label">Telefone/Celular</span>
          <span class="field">{{ messageDetails.Adopter.phoneNumber }}</span>
        </div>

        <div class="container-field">
          <span class="label">Descrição pessoal</span>
          <span class="field text">{{ messageDetails.Adopter.personalInfo }}</span>
        </div>

        <h3 class="message-send">Mensagem enviada</h3>

        <div class="container-field">
          <span class="label">Assunto</span>
          <span class="field">{{ messageDetails.subject }}</span>
        </div>

        <div class="container-field">
          <span class="label">Mensagem</span>
          <span class="field text">{{ messageDetails.contactMessage }}</span>
        </div>
      </div>

      <div class="row"></div>

      <div class="container-pet">
        <h2 class="pet-title">Pet para doar</h2>
        <img class="picture-img" [src]="messageDetails.Pet.picture" alt="Picture selected" />

        <div class="container-field">
          <span class="label">Nome</span>
          <span class="field" title="{{ messageDetails.Pet.name }}">{{
            messageDetails.Pet.name
          }}</span>
        </div>

        <div class="container-field">
          <span class="label">Idade</span>
          <span class="field">{{ messageDetails.Pet.age }}</span>
        </div>

        <div class="container-field">
          <span class="label">Tamanho do pet</span>
          <span class="field">{{ messageDetails.Pet.size }}</span>
        </div>

        <div class="container-field">
          <span class="label">Descrição</span>
          <span class="field">{{ messageDetails.Pet.description }}</span>
        </div>
      </div>
    </div>

    <ng-container
      *ngIf="messageDetails.adoptionStatus === adoptionStatus.PENDING_CONFIRMATION; else statusTemplate"
    >
      <div class="container-button">
        <app-button (click)="adoptionRefused()" [buttonConfig]="buttonRefuse"></app-button>
        <app-button (click)="adoptionAccepted()" [buttonConfig]="buttonAccept"></app-button>
      </div>
    </ng-container>
    <ng-template #statusTemplate>
      <p class="status">
        Status da solicitação:<b>{{ messageDetails.adoptionStatus }}</b>
      </p>
    </ng-template>
  </section>
</main>
