<mat-icon [routerLink]="linkHome" class="nav-icon" fontIcon="home"></mat-icon>
<mat-icon [routerLink]="linkChat" class="nav-icon" fontIcon="mail"></mat-icon>

<mat-menu #profileMenu="matMenu">
  <button mat-menu-item [routerLink]="routeEditProfile">Editar perfil</button>
  <button mat-menu-item (click)="auth.logout()">Sair</button>
</mat-menu>

<ng-container *ngIf="profitePicture; else imageTemplate">
  <img
    class="button-profile"
    [src]="profitePicture"
    alt="Image profile"
    [matMenuTriggerFor]="profileMenu"
  />
</ng-container>
<ng-template #imageTemplate>
  <mat-icon
    class="button-profile"
    fontIcon="account_circle"
    [matMenuTriggerFor]="profileMenu"
  ></mat-icon>
</ng-template>
