<main>
  <img
    class="logo"
    src="../../../assets/images/Logo_-_azul.svg"
    alt="logo adopet"
  />

  <p class="text">
    Ainda não tem cadastro? <br />
    Então, antes de buscar seu melhor amigo, precisamos de alguns dados:
  </p>
  <form [formGroup]="registerAdopterForm">
    <div class="container-input">
      <div class="input-label">
        <label for="firstName">Nome:</label>
        <input
          id="firstName"
          name="firstName"
          type="text"
          formControlName="firstName"
          placeholder="Digite seu nome"
        />
      </div>

      <div class="input-label">
        <label for="lastName">Sobrenome:</label>
        <input
          id="lastName"
          name="lastName"
          type="text"
          formControlName="lastName"
          placeholder="Digite seu sobrenome"
        />
      </div>
    </div>

    <div class="container-input">
      <div class="input-label">
        <label for="state">Estado:</label>
        <select id="state" name="state" formControlName="state">
          <option value="" disabled selected>Selecione um estado</option>
          <option *ngFor="let estado of estadosKeys" [value]="estado">
            {{ estado }}
          </option>
        </select>
      </div>

      <div class="input-label">
        <label for="city">Cidade:</label>
        <input
          id="city"
          name="city"
          type="text"
          formControlName="city"
          placeholder="Digite sua cidade"
        />
      </div>
    </div>

    <div class="container-input">
      <div class="input-label">
        <label for="phoneNumber">Telefone/ Celular:</label>
        <input
          id="phoneNumber"
          name="phoneNumber"
          type="tel"
          formControlName="phoneNumber"
          placeholder="Digite seu telefone/celular"
          [mask]="telMask()"
        />
      </div>

      <div class="input-label">
        <label for="email">Email:</label>
        <input
          id="email"
          name="email"
          type="email"
          formControlName="email"
          placeholder="Digite seu email"
        />
      </div>
    </div>

    <div class="container-input">
      <div class="input-label">
        <label for="password">Senha:</label>
        <input
          id="password"
          name="password"
          type="password"
          formControlName="password"
          placeholder="Digite sua senha"
        />
      </div>

      <div class="input-label">
        <label for="passwordConfirmation">Confirmar senha:</label>
        <input
          id="passwordConfirmation"
          name="passwordConfirmation"
          type="password"
          formControlName="passwordConfirmation"
          placeholder="Digite sua senha novamente"
        />
      </div>
    </div>
  </form>

  <app-button (click)="submit()" [buttonConfig]="buttonRegister"></app-button>
</main>
